<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="$(var.ProductName)"
           Manufacturer="$(var.Manufacturer)"
           Version="$(var.ProductVersion)"
           ProductCode="$(var.ProductCode)"
           UpgradeCode="$(var.UpgradeCode)"
           Scope="perMachine"
           Platform="x64"
           InstallerVersion="500"
           Compressed="yes">
    <MajorUpgrade AllowDowngrades="no"
                  AllowSameVersionUpgrades="no"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="SupertonicVox" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="SupertonicVox" />
    </StandardDirectory>

    <Component Id="StartMenuShortcutComponent"
               Directory="ApplicationProgramsFolder"
               Guid="$(var.ShortcutComponentGuid)">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="SupertonicVox"
                Description="Local Korean text-to-speech"
                Target="[INSTALLFOLDER]SupertonicVox.Desktop.exe"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKLM"
                     Key="Software\SupertonicVox"
                     Name="Installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>

    <Feature Id="MainFeature" Title="SupertonicVox" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
  </Package>
</Wix>
